
/*
My Custom CSS
=============
*/


/* --------------------------------------
   Layout
   -------------------------------------- */


/* --------------------------------------
   Typography
   -------------------------------------- */
.m2l{
	margin-top: 100px;
	font-weight: 700;
	font-size: 45px;
	color: #fff;
}

.lead{
  background: url("trame.png");
  color: white;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-brand img{
	margin-top: -16px;
}
.navbar-nav > li > a {
    padding-bottom: 26px;
    padding-top: 26px;
}
.navbar-inverse-top{
  margin-top: 77px;
}
.navbar-inverse-bottom{
  margin-bottom: 77px;
}
.navbar-inverse{
  height: 7px;
}
/* --------------------------------------
   Loading Bar
   -------------------------------------- */
.loadingBar{
  margin-top: 77px;
  padding: 0;
}
#progress-bar-container{
  position: absolute; top: 77px; left: 0; right: 0;
  width: 100%;
  height: 4px;
}

#progress-bar{
  position: relative;
  height: 100%;
  width: 0%;
  background: #4a4e4f;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

#progress-bar-elements{
  display: none;
}
.imgcenter{
  text-align: center;
  display: inline-block;
}
.thumbnail{
  display: inline-block;
}
.carousel-wrap{
  width: 1100px !important;
}
/* --------------------------------------
   Survol Directionnel
   -------------------------------------- */

.row .thumb{
  width: 250px; height: 200px;
  float: left;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.alt{
  position: absolute; top: 0; left: -100%;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.container-fluid{
  background: #fff;
}
.bg-header{
	margin-top: 72px;
	height: 569px;
	background: url(../img/bg2.jpg) center top fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover;
}
.logo{
  width: 250px;
  height: 73px;
  margin-left: -3px !important;
  background: url(../img/logoLorraine.png);
}
.jumbotron{
  margin-top:  72px;
  margin-bottom: 0;
}
.container .mgtop{
  margin-top: 82px !important;
}
footer {
  background: #4a4e4f;
  color: #fff;
  font-size: 11px;
  padding: 20px;
}


/* --------------------------------------
   Blog
   -------------------------------------- */
.list-group-fixed{
  position: fixed; top: 82px; right: auto;
  width: 263px;
}
p{
  text-align: justify;
}
.featureImg{
  width: 100%;
  margin-bottom: 15px;
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
.carousel-wrap{
  width: 300px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
.list-group{
  visibility: hidden;
}
.carousel-wrap{
  width: 700px;
}
}

/* Large desktop */
@media (min-width: 1200px) {

}